.main__nav {
  display: flex;
  align-items: center;

  margin-top: 45px;
  border-radius: 10px;
  width: 1280px;
  height: 450px;
  background-image: url("../imgs/coffe.jpg");
}
.main__saection {
  margin-left: 86px;
  width: 493px;
}
.section__h1 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.section__p {
  margin-top: 32px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
// indexs
